<mat-sidenav-container>
  <div class="main-content">
    <img
      class="avatar mat-elevation-z8"
      src="https://i.pinimg.com/originals/62/87/36/628736c64a06a86adfb6e1bf9b74efc0.png"
    />
    <h2 class="name">Лицо Анимело</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="main-nav">
    <button mat-button class="menu-button">
      <mat-icon>access_time</mat-icon>
      <span>Расписание</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>school</mat-icon>
      <span>Преподаватели</span>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="setting-nav">
    <button mat-button class="menu-button">
      <mat-icon>settings</mat-icon>
      <span>Настройка</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>contact_support</mat-icon>
      <span>Поддержка</span>
    </button>
  </div>
</mat-sidenav-container>
