::ng-deep html {
  background-color: #2b3648;
  color: white;
  font-family: Roboto;
}

main h1 {
  text-align: center;
  font-size: 20px;
  color: #dfe4ec;
}

.timetable {
  background: #212936;
  margin: 0 2rem;
  padding: 1px 24px;
}

section {
  margin: 24px 0;
}

.work-day,
.off-day {
  margin: 0;
  font-size: 18px;
}

.lessons {
  display: flex;
}

.lesson {
  background-color: #2b3648;
  width: fit-content;
  padding: 16px;
  margin: 16px 0;
  margin-right: 16px;
  margin-bottom: 0;
  border-radius: 10px;
}

.lesson-time {
  font-family: Manrope;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.lesson-type {
  font-family: Manrope;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0;
  width: fit-content;
  margin: 0;
  margin-top: 16px;
  padding: 4px 8px;
  border-radius: 10px;
}

.lesson-type.practice {
  background-color: #D32323;
}

.lesson-type.lection {
  background-color: #53A33C;
}

.work-day {
  color: #afbdd1;
}

.off-day {
  color: #afbdd180;
}
