<app-navigation-bar></app-navigation-bar>
<main>
  <h1>Расписание</h1>
  <div class="timetable">
    <section>
      <h3 class="work-day">Понедельник</h3>
      <div class="lessons">
        <div class="lesson">
          <h4 class="lesson-time">8:00 - 9:35</h4>
          <h4 class="lesson-type practice">Практика</h4>
        </div>
      </div>
    </section>
    <section>
      <h3 class="work-day">Вторник</h3>
      <div class="lessons">
        <div class="lesson">
          <h4 class="lesson-time">10:00 - 11:30</h4>
          <h4 class="lesson-type lection">Лекция</h4>
        </div>
      </div>
    </section>
    <section>
      <h3 class="off-day">Среда</h3>
    </section>
    <section>
      <h3 class="work-day">Четверг</h3>
      <div class="lessons">
        <div class="lesson">
          <h4 class="lesson-time">8:00 - 9:35</h4>
          <h4 class="lesson-type lection">Лекция</h4>
        </div>        
        <div class="lesson">
          <h4 class="lesson-time">10:00 - 11:30</h4>
          <h4 class="lesson-type practice">Практика</h4>
        </div>
      </div>
    </section>
    <section>
      <h3 class="work-day">Четверг</h3>
      <div class="lessons">
        <div class="lesson">
          <h4 class="lesson-time">8:00 - 9:35</h4>
          <h4 class="lesson-type lection">Лекция</h4>
        </div>        
        <div class="lesson">
          <h4 class="lesson-time">10:00 - 11:30</h4>
          <h4 class="lesson-type practice">Практика</h4>
        </div>
      </div>
    </section>
    <section>
      <h3 class="work-day">Четверг</h3>
      <div class="lessons">
        <div class="lesson">
          <h4 class="lesson-time">8:00 - 9:35</h4>
          <h4 class="lesson-type lection">Лекция</h4>
        </div>        
        <div class="lesson">
          <h4 class="lesson-time">10:00 - 11:30</h4>
          <h4 class="lesson-type practice">Практика</h4>
        </div>
      </div>
    </section>
  </div>
</main>
